*{
    margin: 0;
    padding:0
}
ul{
    list-style: none;
}
html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#main{
    width: 640px;
    height: 1080px;
    position: absolute;
    left:50%;
    top:0;
    margin-left: -320px;
    -webkit-transform-origin: top;
}
.loading{
    width: 100%;
    height:100%;
    background: #000;
    position: absolute;
    z-index: 10;
}
.progress{
    margin: 0 15%;
    width: 70%;
    position: absolute;
    top:40%;
    height: 40px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
}
.loadSpan{
    width: 0;
    display: block;
    height: 40px;
    background-image:-webkit-linear-gradient(45deg, #5cb85c 25% , #74c274 50% , #5cb85c 75%,#74c274 100% );
    background-size: 40px 40px;
    background-repeat:repeat-x;
    -webkit-transition: 1s;
}


/*********************************************************************************/
.zIndex {
    z-index: 100;
}

#first{
    width: 100%;
    height:100%;
    position:absolute;
    z-index: 9;
    background: url(img/first.jpg) no-repeat;
    -webkit-transition:1s;
}

.head{
    top:285px;
    left:200px;
    position: absolute;
}
.eyes{
    top:450px;
    left:263px;
    position: absolute;
}
.hdj{
    top:585px;
    left:273px;
    position: absolute;
}
#second{
    width: 100%;
    height:100%;
    position:absolute;
    background: url(img/second.jpg) no-repeat;
}
#third{
    width: 100%;
    height:100%;
    position:absolute;
    background: url(img/third.jpg) no-repeat;
}
#fourth{
    width: 100%;
    height:100%;
    position:absolute;
    background: url(img/fourth.jpg) no-repeat;
}
/*********************************************************************************/




